<nav class="navbar navbar-light bg-light 
     border border-dark
     d-flex 
     align-items-center
     justify-content-around"
     >
        <a class="navbar-brand" href="/">
            <img src="\img\logo.png" style="width: 50px;">
    
            <div class="menu">
                <a class="text-decoration-none text-dark px-3 py-2" href="#Sobre">Sobre</a>
                <a class="text-decoration-none text-dark px-3 py-2" href="#Serviços">Serviços</a>
                <a class="text-decoration-none text-dark px-3 py-2" href="#Portifolio">Portifolio</a>
                <a class="text-decoration-none text-dark px-3 py-2" href="#Localização">Localização</a>
            </div>

            <button class="btn btn-dark my-2"><a href="/contato" class="text-decoration-none" style="color: white;">Entre em contato</a></button>
        </a>
</nav>