<%- include('partials/header.ejs') %>
<body style="background-image: url(img/arquitetura.jpg)">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Obrigado pela sua mensagem!</h1>
                        <p class="card-text">Agradecemos por entrar em contato conosco. Nossa equipe irá analisar sua mensagem e entrará em contato com você em breve.</p>
                        <a href="/" class="btn btn-primary">Voltar à Página Inicial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include('partials/footer.ejs') %>