<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>

    <!-- Background do video de fundo -->
    <div class="video-container col-xs-12">
        <video autoplay muted loop>
            <source src="videos/ponte.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="content" style='color: white;' data-aos="fade-up">
            <h1>MM - ENGENHARIA CIVIL</h1>
            <p>Engenharia Civil não e sobre construir coisas, mas sim, executar seus sonhos</p>
        </div>
    </div>
    <!-- Background do video de fundo -->

    <!-- Sobre nós -->
    <div id="Sobre" class="p-5 border border-dark" style="align-content: center; background-image: url(img/fundo.jpg);">
        <div class="container text-center container_sobre p-3 align-self-center">
            <img src="img\escritorio.jpg" style="width:90%" class="img-fluid">
            <div class="sobre-nos p-3" data-aos="fade-left">
                <h4 style="border-bottom: 1px solid white;" class="pb-2">SOBRE NOS</h4>
                <p style="text-align: left;" class="p-2">
                    Fundada em 2025, a MM - Engenharia Civil é uma empresa de engenharia civil dedicada a transformar sonhos em realidade 
                    através de soluções inovadoras e sustentáveis. Com uma equipe altamente qualificada e experiência comprovada em diversos 
                    setores da construção civil, nos destacamos pelo compromisso com a qualidade, segurança e pontualidade em todos os projetos 
                    que realizamos.
                </p>
                <button type="button" class="btn btn-outline-light"><a class="text-decoration-none" href="/contato" style="color:white">ENTRAR EM CONTATO</a></button>
            </div>
        </div>
    </div>
    <!-- Sobre nós -->

       <!--Campo de Serviços-->
       <div id="Serviços" class="Services text-center pt-3" p-5>

        <h1>Serviços</h1>

        <div class="container text-center p-3 align-content-center services" data-aos="zoom-in">
                <div class="estrutura pt-3">
                    <img src="img/projetos estruturais.png" style="width: 8em;">
                    <h4>Projetos Estruturais</h4>
                    <a href="#">Solicite seu orçamento</a>
                </div>

                <div class="consultoria pt-3">
                    <img src="img/Consultoria Técnica.png" style="width: 8em;">
                    <h4>Consultoria Técnica</h4>
                    <a href="#">Solicite seu orçamento</a>
                </div>

                <div class="calculo pt-3">
                    <img src="img/Cálculos Estruturais.png" style="width: 8em;">
                    <h4>Cálculos Estruturais</h4>
                    <a href="#">Solicite seu orçamento</a>
                </div>

                <div class="especiais pt-3">
                    <img src="img/Projetos de Obras de Arte Especiais.png" style="width: 8em;">
                    <h4>Proj. Arquitetonico</h4>
                    <a href="#">Solicite seu orçamento</a>
                </div>
        </div> 
        
    </div>
    <!--Campo de Serviços-->

    <figure id="Portifolio" class="portifolio text-center border border-dark p-4" style="background-image: url(img/fundo.jpg);">
        <h1>Projetos</h1>
        <h5>Aqui Estão Alguns de Nossos Principais Projetos</h5>

        <div class="projetos">
            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>

            <div class="col p-2">
                <img src="img/modelagem 3d.jpg" style="width: 12em;" class="border border-dark" data-aos="flip-up">
            </div>
        </div>
    </figure>
    <!--Portfifolio--> 

    <!--Localização-->
    <div class="text-center m-5" id="Localização">
        <h1 class="m-3">Localização</h1>
        <p>R. Antônio Alves, 29-30 - Vila Cidade Universitaria, Bauru - SP, 17012-431</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.1856953437737!2d-49.08845662470614!3d-22.346616179653253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bf66e33c90a735%3A0x38d116d96f50c1c7!2sSpazio%20Brom%C3%A9lias!5e0!3m2!1spt-BR!2sbr!4v1719873079674!5m2!1spt-BR!2sbr" class="border border-dark" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--Localização-->

    <!--Rodapé-->
    <footer class="container text-center rodape" data-aos="fade-right">
        <img class="align-content-center" src="img/logo.png" width="150" height="150">

        <div>
            <div class="m-3">
                <img src="img/ico_contato_03.png" width="40">
            </div>
                <p>R. Gerson França, 17-114 Jardim Estoril II Bauru/SP<br> 17016-000</p> 
        </div>

            <div class="text-center">
                <div class="m-2">
                    <img src="img/ico_contato_01.png" width="40">
                    <p>Telefone<br>(14)99827-4383</p>
                </div>

                <div class="m-2">
                    <img src="img/ico_contato_02.png" width="40">
                    <p>rh.engenharia@outlook.com.br</p>
                </div>
            </div>
        </div>
    </footer>
    <!--Rodapé-->

    <!--copyright-->
    <div class="copy text-center bg-dark text-light">
        &copy; 2024 - Todos os diretos reservados 
    </div>
    <!--copyright-->


</body>
<%- include('partials/footer') %>

<script>
document.querySelectorAll('.menu a').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
            targetElement.scrollIntoView({ behavior: 'smooth' });
        } else {
            console.error(`Elemento com ID ${targetId} não encontrado.`);
        }
    });
});
</script>
