body {
    background-color: #eceff1;
}

.menu a:hover {
    border-bottom: 1px solid black;
}

/* Configuração do vídeo como background */
.video-container {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Conteúdo sobre o vídeo */
.content {
    position: relative;
    z-index: 2;
    color: black;
    text-align: center;
    padding-top: 30vh;
    margin: 20px;
}

/* Fundo escuro para melhor visibilidade */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


/*Sobre nos*/
.sobre-nos {
    background-color: rgb(34, 34, 34);
    color: white;
}

@media(min-width: 1021px) {
    .sobre-nos {
        width: 70em;
        height: 22em;
        display: block;
        align-content: center;
    }

    .container_sobre {
        display: flex;
        align-items: center;
        margin: 0 5em;
    }

    .container_sobre img {
        height: 20em;
    }
}

@media(min-width: 1021px) {
    .services {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5em;
    }
}

.projetos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5vh;
}

@media(min-width: 800px) {
    .projetos {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 5vh;
    }
}

@media(min-width: 1000px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }
}